.input-main-container {
  padding: 10px;
  width: 100%;
  border: 1px solid #838d8d;
  border-radius: 16px;
  display: flex;
  gap: 5px;
  height: 57px;
  position: relative;
}

.form-input-group {
  width: 100%;
  border: none;
  outline: none;
  height: 100%;
  border: 10px solid red;
}

.input-container {
  width: 90%;
  height: 100%;
  /* border: 10px solid red; */
}

.input-label {
  color: red;
  font-size: 1.2rem;
}
