.request-nav-modal-container {
  display: none;
}

@media (max-width: 475px) {
}
@media (max-width: 640px) {
}

@media (max-width: 768px) {
}

@media (min-width: 1024px) {
  .request-nav-modal-container {
    background-color: #fff;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    position: absolute;
    right: 2%;
    top: 12%;
    padding: 1.5%;
    padding-top: 5.85%;
    border-radius: 15px;
    z-index: 999;
  }
  .top-request-nav-content a {
    color: #000;
  }
  .request-nav-card {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 0 1.5%;
    cursor: pointer;
  }
  .request-nav-image {
    margin-right: 10px;
  }
  .top-request-nav-content h1 {
    font-size: 1.35em;
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
  .request-nav-modal-container {
    width: 34dvw;
    padding-top: 2.85%;
  }
}
