@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

.cat-card-parent-wrapper {
  display: flex;
  flex-direction: column;
}
.main-category-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  padding: 15px 20px;
  margin-top: 15px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-category-card-container:hover {
  background-color: rgb(200, 194, 194);
}
a {
  text-decoration: none;
}
.category-card-wrapper {
  text-align: center;
}
.category-card-wrapper h4 {
  font-size: 1.5em;
}
.category-card-wrapper p {
  font-size: 1.3em;
  font-family: "Josefin Slab", serif;
}
.category-image {
  width: 100px;
}

@media (min-width: 475px) {
}
@media (min-width: 640px) {
  .main-category-card-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .main-category-card-container {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .cat-card-parent-wrapper {
    flex-direction: row;
    margin-top: 55px;
  }
  .main-category-card-container {
    width: 95%;
  }
  .category-detail-main-container {
    height: 50dvh;
  }
}

@media (min-width: 1280px) {
  .cat-card-parent-wrapper {
    justify-content: center;
  }
  .main-category-card-container {
    width: 95%;
  }
  .category-detail-main-container {
    height: 50dvh;
  }
}

@media (min-width: 1536px) {
}
