.reward-card-main-container {
  border: solid gray 0.5px;
  padding: 5.5%;
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: -1px 10px 5px -1px rgba(217, 202, 217, 1);
  -moz-box-shadow: -1px 10px 5px -1px rgba(217, 202, 217, 1);
  box-shadow: -1px 10px 5px -1px rgba(217, 202, 217, 1);
}
.reward-card-points-holder-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.reward-card-points-holder {
  font-size: 1.55em;
  font-weight: bold;
}
.reward-card-header-wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}
.reward-card-points-wrapper {
  background-color: rgb(222, 244, 237);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 1% 2.5%;
}
.reward-card-points-wrapper > p {
  /* color: rgb(19, 237, 168); */
}
