.testimonial-card-container {
  /* display: flex !important; */
  /* justify-content: space-between;
  width: 70%; */
  /* width: 50dvw; */
  /* width: 90  %; */
}
.testimonial-card {
  background-color: #fff;
  border: solid 0.5px gray;
  width: 94% !important;
  padding: 5%;
}
.slick-arrow::before {
  color: #262262;
}

.slick-prev {
  top: 120px;
  left: -120px;
}
.slick-next {
  top: 120px;
  left: -90px;
}
@media (min-width: 475px) {
  .testimonial-card {
    background-color: #fff;
    border: solid 0.5px gray;
    width: 100% !important;
    padding: 5%;
    background-color: red !important;
  }
}
@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
