.dashboard-top-card-main-container {
  background-color: #fff;
  padding: 2%;
  border-radius: 20px;
  display: flex;
  justify-items: space-between;
  gap: 20px;
}
.dashboard-top-card-right-pane {
  padding: 0 1.5%;
  border-left: solid 0.35px #000;
}
.dashboard-top-card-left-pane > p {
  margin-bottom: 40px;
}
.dashboard-card-request-inner-wrapper {
  /* width: 30%; */
}
.dashboard-card-request-inner-wrapper > p {
  font-size: 1.15em;
  margin-top: 25px;
}
.dashboard-top-btn-card-style {
  width: 80%;
  padding: 2%;
  font-size: 1em;
  border: solid 1px #262262;
  border-radius: 15px;
  margin-top: 40px;
  background-color: #ede8f4;
  color: #262262;
}
.dashboard-card-main-title {
  font-size: 1.55em;
  font-weight: bold;
  margin-top: 10px;
}
.dashboard-card-main-sub-title {
  font-size: 1.25em;
  margin-top: 5px;
}
.dashboard-progress-bar-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  background-color: #f5f2fa;
  padding: 2%;
  border-radius: 15px;
}
.dashboard-progress-bar-left-pane {
  width: 65%;
}
.dashboard-progress-bar-right-pane {
  width: 32%;
  padding-left: 15px;
  border-left: solid 1px gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-card-amount-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.dashbaord-card-total-amount-wrapper,
.dashbaord-card-paid-amount-wrapper {
  background-color: #f5f2fa;
  width: 48%;
  padding: 2%;
  border-radius: 10px;
}
