.serviceCard-main-wrapper {
  color: #fff;
  width: 90% !important;
  /* margin-right: -110px; */
  /* margin-right: -500px; */
}
.card-image-wrapper {
  border: solid 10px gray;
  width: 100% !important;
  /* height: 50dvh; */
  border-radius: 26px;
}
