.input-image-upload-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  background-color: #e4f0f4;
  border-radius: 10px;
  padding: 10px 2%;
  justify-content: space-between;
}
.input-image-upload-container > input {
  display: none;
}
.input-image-upload-container > label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
