.contact-main-container {
  background-color: rgb(199, 196, 196);
  padding: 20px 5%;
}
.contact-main-wrapper {
  background-color: #fff;
  border-radius: 15px;
  margin-top: 50px;
  /* text-align: center; */
  padding: 0 1.25%;
  padding-top: 3.5%;
}
.inner-navigation-btn-wrapper {
  border: solid 0.25px gray;
  padding: 1.5%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.contact-inner-main-container {
  background-color: #fff;
  /* width: 50%; */
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 55px;
  /* text-align: center; */
}

.inner-nav-btn {
  width: 35%;
  padding: 1%;
  font-size: 0.85em;
  border-radius: 5px;
  cursor: pointer;
}
.frequent-inner-nav-btn {
  width: 60%;
  padding: 1%;
  font-size: 0.85em;
  border-radius: 8px;
  cursor: pointer;
}
.frequent-inner-nav-btn-active {
  background-color: #262262;
  color: #fff;
  width: 60%;
  padding: 1%;
  border-radius: 5px;
  font-size: 0.85em;
  cursor: pointer;
}
.inner-nav-btn-active {
  background-color: #262262;
  color: #fff;
  width: 35%;
  padding: 1%;
  border-radius: 5px;
  font-size: 0.85em;
  cursor: pointer;
}
.contact-inner-form-wrapper {
  text-align: center;
  border: solid 1px rgb(214, 210, 210);
  width: 100%;
  border-radius: 15px;
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
}
.contact-inner-faq-wrapper {
  border: solid 1px rgb(214, 210, 210);
  width: 100%;
  border-radius: 15px;
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
}
.contact-inner-faq-wrapper h2 {
  font-size: 1.5em;
}
.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;

  /* margin-top: 15px; */
  margin-right: auto;
  margin-left: auto;
  padding: 2%;
  /* border: solid 0.15px rgb(189, 186, 186); */
}
.contact-main-text-input {
  height: 55px;
  width: 100%;
  margin-top: 15px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px;
  color: black;
  padding: 0 15px;
  border: solid 0.5px rgb(218, 206, 206);
}
.textarea-container {
  height: 150px;
  padding: 15px;
}
.contact-half-text-input {
  height: 55px;
  /* width: 140%; */
  margin-top: 15px;
  font-size: 1em;
  font-weight: bold;
  color: black;
  padding: 0 15px;
  border: solid 0.5px rgb(218, 206, 206);
}
.lable-wrapper {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 25px;
}
.lable-wrapper span {
  display: none;
}
.group-label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-main-form-btn {
  background-color: #262262;
  color: #fff;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 22px;
  padding: 2%;
  border-radius: 20px;
}
.hq-wrapper {
  background-color: #dfdfd5;
  display: flex;
  margin-top: 35px;
  align-items: center;
  padding: 3% 15px;
  border-radius: 15px;
}
.hq-wrapper p {
  margin-top: 5px;
}
.map-wrapper {
  margin-top: 35px;
}
.location-map {
  width: 100%;
}
@media (min-width: 475px) {
}
@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .inner-navigation-btn-wrapper {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .inner-nav-btn {
    width: 48%;
    padding: 1.25%;
    font-size: 1.25em;
  }
  .frequent-inner-nav-btn {
    width: 48%;
    padding: 1.25%;
    font-size: 1.25em;
  }
  .frequent-inner-nav-btn-active {
    width: 48%;
    padding: 1.25%;
    font-size: 1.25em;
  }
  .inner-nav-btn-active {
    width: 48%;
    padding: 1.25%;
    font-size: 1.25em;
  }
  .contact-form-wrapper {
    width: 60%;
    border: solid 0.5px rgb(209, 205, 205);
    padding: 5%;
    border-radius: 10px;
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
