.request-nav-modal-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 100dvw;
  border-radius: 15px;
  margin-left: -2.5%;
  padding-top: 5%;
}
.request-nav-card {
  width: 55%;
  display: flex;
  margin-top: 10px;
  /* justify-content: space-between; */
  margin-bottom: 15px;
  /* padding: 0 1.5%; */
  cursor: pointer;
}
.request-nav-image {
  margin-right: 10px;
}
.request-nav-content h1 {
  font-size: 1.25em;
}
.request-nav-content p {
  font-size: 1em;
}

@media (max-width: 475px) {
}
@media (max-width: 640px) {
}

@media (max-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
