.main-order-page-container {
  background-color: #fff;
  padding: 10px 5%;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  /* height: 100dvh; */
}
.inner-cointainer-wrapping-left-right-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-main-container {
  width: 100%;
}
.sidebar-with-small-screen {
  width: 100%;
  /* margin-top: 25px; */
}

@media (min-width: 1024px) {
  .inner-cointainer-wrapping-left-right-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .left-main-container {
    width: 70%;
  }
  .sidebar-with-small-screen {
    width: 30%;
    /* margin-top: 25px; */
  }
}
