@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

.services-main-container {
  padding: 20px 5%;
  padding-top: 155px;
  background-color: rgb(188, 186, 186);
  width: 100dvw;
  /* display: flex;
  justify-content: space-between; */
}
.service-cards-wrapper {
  width: 100%;
}
.header-image-wrapper {
  width: 100%;
  position: relative;
  margin-bottom: -10%;
}
.service-image {
  width: 100%;
}
.serices-header-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.service-image-container {
  background-color: #262262;
  position: relative;
  color: #fff;
  width: 98%;
  /* margin-left: -180px; */
  /* margin-top: 50px; */
  /* height: 15dvw; */
  padding: 5%;
  border-radius: 15px;
}
.service-image-container p {
  font-size: 1.1em;
}
.services-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
.services-image-container {
  /* background-color: red; */
}
.service-images {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 96%;
}
.card-right-holder {
  background-color: #fff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 3%;
  width: 96%;
}
.card-right-holder p {
  font-size: 1.25em;
  margin-top: 10px;
}
.card-right-holder h1 {
  font-size: 1.5em;
  line-height: 30px;
}
.service-btn {
  border: solid 0.5px gray;
  padding: 22px 5%;
  font-size: 1.2em;
  margin-top: 15px;
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
}
.service-btn a {
  text-align: center;
  color: #000;
}
@media (min-width: 475px) {
}
@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .service-cards-wrapper {
    width: 100%;
  }
  .services-card {
    flex-direction: row;
  }
  .service-images {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0px;
    width: 50%;
  }
  .card-right-holder {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 0px;

    width: 86%;
  }
  .card-right-holder p {
    font-size: 1.15em;
    margin-top: 10px;
  }
}

@media (min-width: 1024px) {
  .service-cards-wrapper {
    width: 110%;
  }
  .serices-header-wrapper {
    flex-direction: row;
  }
  .header-image-wrapper {
    width: 90%;
    margin-bottom: 1px;
  }
  .service-image-container {
    width: 40%;
    margin-left: -180px;
    margin-top: 50px;
    height: 15%;
    padding: 2%;
    border-radius: 15px;
  }
  .service-image-container p {
    font-size: 1.35em;
  }
  .services-card {
    width: 72.5%;
  }
  .service-images {
    width: 50%;
  }
  .card-right-holder {
    width: 86%;
  }
  .service-btn {
    width: 80%;
  }
}

@media (min-width: 1280px) {
  .service-cards-wrapper {
    width: 100%;
  }
  .service-image-container {
    width: 28%;
  }
  .service-images {
    width: 40%;
  }
  .header-image-wrapper {
    width: 80%;
    margin-bottom: 1px;
  }
  .service-btn {
    width: 50%;
  }
  .service-images {
    width: 50%;
  }
  .card-right-holder {
    width: 60%;
  }
}

@media (min-width: 1536px) {
}
