.back-arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(241, 232, 232);
  padding: 5px 10px;
  border-radius: 10px;
  width: 96px;
  cursor: pointer;
  margin-bottom: 10px;
}
.back-arrow-wrapper span {
  font-size: 1.25em;
  font-weight: 400;
}
