.back-arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(241, 232, 232);
  padding: 10px 2%;
  border-radius: 10px;

  cursor: pointer;
}
.back-arrow-wrapper span {
  font-size: 1.5em;
  font-weight: 500;
}
