.proceed-2-checkout-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0 5%;
  padding-right: 10%;
}
.proceed-2-checkout-container > p {
  width: 65%;
  background-color: rgb(223, 221, 221);
  text-align: center;
  padding: 1.35%;
  border-radius: 10px;
}
.proceed-checkout-btn {
  background-color: #262262;
  padding: 15% 0px;
  color: #fff;
  width: 180%;
  border-radius: 15px;
  cursor: pointer;
}
