.team-main-container {
  padding: 3% 5%;
  margin: 2%;
  background-color: #fff;
  border-radius: 1px;
}

.team-header-wrapper {
  width: 100%;
}

.team-card-main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-card-inner-wrapper {
  border: solid 0.35px black;
  border-radius: 8px;
  width: 100%;
  margin-top: 20px;
}

.team-image-wrapper {
  position: relative;
}

.team-image {
  width: 100%;
  display: block;
}

.social-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
}

.social-icon {
  width: 45px;
  height: 45px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.twitter-icon {
  background-color: #1da1f2;
}

.facebook-icon {
  background-color: #1877f2;
}

.linkedin-icon {
  background-color: #0a66c2;
}

.instagram-icon {
  background-color: #e4405f;
}

.team-image-wrapper:hover .social-icons {
  opacity: 1;
}

.title-wrapper {
  text-align: center;
  background-color: rgb(203, 203, 198);
  padding: 20px 3%;
}

@media (min-width: 1024px) {
  .team-card-main-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .team-main-container {
    padding: 3% 5%;
    margin: 2%;
    background-color: #fff;
    border-radius: 25px;
    border-radius: 96px;
  }
  .team-header-wrapper {
    width: 50%;
  }
  .team-header-wrapper h1 {
    font-size: 2em;
  }
  .team-header-wrapper p {
    font-size: 1.25em;
    line-height: 25px;
    margin: 15px 0;
  }
  .team-card-inner-wrapper {
    width: 48%;
  }
}

@media (min-width: 1280px) {
  .team-card-inner-wrapper {
    width: 22.5%;
  }
}
