.user-avatar-main-container {
  border: 0.5px solid gray;
  padding: 12px 12px;
  border-radius: 20px;
  width: 50%;
  position: relative;
}

.user-avatar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.user-avatar-menu {
  position: absolute;
  background-color: #fff;
  margin-top: 15px;
  width: 250px;
  text-align: left;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 15px;
  /* padding: 2.5%; */
  right: 0;
}
.user-avatar-menu > ul > li {
  list-style: none;
  margin-left: -25px;
  font-size: 1.2em;
  margin-bottom: 15px;
}
.user-avatar-menu > ul > li > span {
  margin-right: 10px;
}
