.check-boxes-main-container {
  padding: 10px 2%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  border: solid 0.5px rgb(218, 206, 206);
  margin-top: 18px;
  border-radius: 10px;
  font-weight: lighter;
}
.check-boxes-main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
.chaeck-boxes-detail-wrapper p {
  font-weight: 600;
  font-size: 1.2em;
}
.check-boxes-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(238, 235, 235);
  width: 48%;
  padding: 5px 16px;
  border-radius: 10px;
  font-size: 1.2em;
}

.check-boxes-option p {
  font-weight: 510;
  font-size: 1em;
  width: 120%;
}
input[type="radio"] {
  border: 0px;
  width: 60%;
  height: 2em;
}
