.modal-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 90%;
  margin-left: 20%;
  margin-top: 80px;
}
.modalContainer {
  max-width: 1200px;
  width: 100%;
  position: fixed;
  background-color: #ded9d9;
  left: 2%;
  top: 15%;
  height: 660px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  padding: 20px 3%;
}
.inner-modal-wrapper {
  display: flex;
  justify-content: space-between;
}
.close-modar-wrapper {
  text-align: right;
  margin-bottom: 15px;
  padding-right: 25px;
  cursor: pointer;
}
.modalRightside {
  width: 800px;
}
.modalLeftside,
.modalRightside {
  padding: 0 20px;
  text-align: left;
}
.modalLeftside p,
.modalRightside p {
  font-size: 1.3em;
}
.modalLeftside h3,
.modalRightside h3 {
  font-size: 1.4em;
  margin-top: 10px;
}
.require-list {
  margin-top: 5px;
}
.require-list li {
  font-size: 1.1em;
  margin-top: 5px;
}
.payment-milestone-wrapper {
  margin-top: 20px;
}
.milestone-table tr {
  width: 450px;
}
.milestone-table tr td {
  background-color: rgb(172, 166, 166);
  padding: 10px;
}

@media (min-width: 475px) {
}
@media (min-width: 640px) {
  .require-list {
    margin-top: 5px;
    max-width: 500px;
  }
}

@media (min-width: 768px) {
  .require-list {
    margin-top: 5px;
    max-width: 500px;
  }
  .modalLeftside,
  .modalRightside {
    padding: 0 20px;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
  .modalContainer {
    max-width: 1200px;
    width: 60%;
    left: 35%;
  }
  .modal-overlay {
    margin-left: 22%;
  }
}

@media (min-width: 1536px) {
  .modal-overlay {
    max-width: 1800px;
    width: 80%;
    margin-left: 19.9%;
  }
  .modalContainer {
    max-width: 1200px;
    width: 50%;
    left: 35%;
  }
}
