.new-request-from-main-container {
  padding: 20px 5%;
}
.slate-header-wrapper {
  text-align: left;
}
.slate-header-wrapper h2 {
  margin-bottom: 10px;
}
.new-request-form-container {
  /* background-color: red; */

  width: 100%;
}

.increase-width {
  width: 26.5dvw;
  justify-content: space-between;
}

.final-section-wrapper {
  width: 100%;
}
.form-section-wrapper {
  display: flex;

  /* align-items: center; */

  justify-content: space-between;
  gap: 10px;
  /* background-color: red; */
}
.accordion-main-container {
  padding: 15px 3%;
  margin-right: 25px;
  border: solid 1px rgb(221, 216, 216);
  margin-bottom: 15px;
  cursor: pointer;
}
.accordion-title {
  display: flex;
  justify-content: space-between;
}
.accordion-content {
  text-align: left;
  margin-top: 5px;
}
.not-login-style {
  color: red;
}
.payment-btn {
  width: 80%;
}
@media (max-width: 475px) {
  .payment-btn {
    width: 100%;
    margin-right: 25px;
  }
}
@media (max-width: 640px) {
}

@media (max-width: 768px) {
  .payment-btn {
    width: 80%;
    margin-left: 50px;
  }
}

@media (min-width: 1024px) {
  .payment-btn {
    width: 80%;
    margin-left: 10px;
  }
}
@media (min-width: 1280px) {
  .payment-btn {
    width: 80%;
    margin-left: 50px;
  }
}

@media (min-width: 1536px) {
  .payment-btn {
    width: 60%;
    margin-left: 150px;
  }
}
