.preloader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; /* equivalent to space-x-2 */
  background-color: white;
  height: 100vh; /* equivalent to h-screen */
  width: 100%; /* equivalent to w-full */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.custom-bouncing-circle {
  height: 1.5rem; /* h-6 translates to 1.5rem */
  width: 1.5rem; /* w-6 translates to 1.5rem */
  background-color: #453da7; /* bg-[#453DA7] */
  border-radius: 9999px; /* rounded-full translates to fully rounded */
  animation: bounce 1s infinite; /* animate-bounce corresponds to a bounce animation */
  animation-delay: -0.3s; /* [animation-delay:-0.3s] */
}

.div-custom {
  height: 1.5rem; /* h-6 */
  width: 1.5rem; /* w-6 */
  background-color: #453da7; /* bg-[#453DA7] */
  border-radius: 9999px; /* rounded-full */
  animation: bouncer 1s infinite; /* animate-bounce */
}

@keyframes bouncer {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25%);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25%);
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    filter: invert(1); /* equivalent to dark:invert */
  }
}
