@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

.login-main-container {
  padding: 25px 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.login-iamge-wrapper {
  width: 100%;
}
.login-image {
  width: 100%;
  height: auto;
}
.inner-form-wrapper {
  width: 100%;
  text-align: center;
}
.inner-form-wrapper h3 {
  font-size: 2em;
  margin-bottom: 10px;
}
.inner-form-wrapper p {
  font-size: 1.6em;
  margin-top: 15px;
  font-family: "Josefin Slab", serif;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
}
.form-wrapper label {
  font-size: 1.6em;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-text-input {
  background-color: rgb(245, 243, 243);
  height: 50px;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  font-family: "Josefin Slab", serif;
  font-size: 1.3em;
  font-weight: lighter;
  padding: 0 15px;
  border: solid 0.5px rgb(218, 206, 206);
}
.main-form-btn {
  background-color: rgb(16, 4, 91);
  height: 55px;
  margin-top: 10px;
  border-radius: 10px;
  border: solid 0.5px rgb(18, 2, 86);
  color: #fff;
  font-size: 1.6em;
  cursor: pointer;
}
.form-wrapper label p {
  color: red;
  font-size: 20px;
  font-family: "Josefin Slab", serif;
}
.login-error-style {
  color: red;
}

@media (min-width: 475px) {
  .login-iamge-wrapper {
    width: 80%;
  }
  .inner-form-wrapper {
    width: 80%;
    text-align: center;
  }
}
@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .login-iamge-wrapper {
    width: 60%;
  }
  .inner-form-wrapper {
    width: 60%;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .login-iamge-wrapper {
    width: 50%;
  }
  .inner-form-wrapper {
    width: 40%;
    text-align: center;
  }
  .login-main-container {
    flex-direction: row;
  }
  .inner-form-wrapper {
    text-align: left;
  }
}

@media (min-width: 1280px) {
  .login-iamge-wrapper {
    width: 50%;
  }
  .inner-form-wrapper {
    width: 60%;
    text-align: left;
  }
  .form-wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 15px;
  }
}

@media (min-width: 1536px) {
}
