.new-request-from-main-container {
  padding: 0px 2.5%;
  background-color: rgb(247, 248, 248);
}
.slate-header-wrapper {
  text-align: left;
}
.slate-header-wrapper h2 {
  margin-bottom: 20px;
  font-size: 2em;
}
.slate-header-wrapper p {
  font-size: 1.25em;
  margin-bottom: 25px;
}
.new-request-form-container {
  width: 100%;
}
.back-button-wrapper {
  margin-top: 10px;
  margin-bottom: 15px;
}
.textarea {
  border: solid 0.35px rgb(65, 64, 64);
  border-radius: 20px;
  padding: 2%;
  font-size: 1.2em;
  width: 100%;
  /* resize: none; */
}
.main-text-input {
  height: 55px;
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: 500;
  color: black;
  padding: 0px 15px;
  border: solid 0.5px rgb(218, 206, 206);
}
.single-input-wrapper {
  /* align-content: left; */
  width: 100%;
}
.main-text-single-input {
  height: 55px;
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: 500;
  color: black;
  padding: 0px 15px;

  border: solid 0.5px rgb(218, 206, 206);
}
.button-wrapper {
  background-color: rgb(16, 4, 91);
  height: 55px;
  margin-top: 10px;
  border-radius: 25px;
  border: solid 0.5px rgb(18, 2, 86);
  color: #fff;
  font-size: 1.6em;
  cursor: pointer;
  width: 100%;
}
.bottom-wrapper {
}
.terms-note-wrapper {
  display: flex;
  margin-top: 25px;
  /* background-color: red; */
  /* margin-top: 20px;
  padding-top: 50px; */
  background-color: #fff;
  padding: 3%;
  border-radius: 25px;

  /* align-items: center; */
}
.notes-wrapper {
  /* background-color: yellow; */
  width: 50%;
}
.upload-section-wrapper {
  background-color: #fff;
  margin-top: 25px;
  padding: 3.5% 5%;
  border-radius: 25px;
}
.birth-inputs-container {
  background-color: #fff;
  padding: 5%;
  margin-top: 10px;
  border-radius: 25px;
}
.form-upload-section {
  border: dashed 0.5px #5d5858;
  padding: 2% 2.5%;
  margin-top: 20px;
  border-radius: 10px;
}
.requirement-wrapper {
  border-radius: 25px;
  background-color: #fff;
  padding: 5%;
  margin-top: 25px;
}
.term-section {
  width: 45%;
  /* background-color: green; */
  padding-top: 30px;
  margin-left: 20px;
}
/* .increase-width {
  width: 26.5dvw;
  justify-content: space-between;
} */

.final-section-wrapper {
  width: 100%;
}
.birth-form-section-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
.date-pickermain-text-input {
  /* height: 55px; */
}
.birth-date-piker-select {
  background-color: rgb(245, 243, 243);
  height: 55px;
  width: 80%;
  margin-top: 15px;
  border-radius: 15px;
  font-size: 1.2em;
  font-weight: 300;
  color: black;
  padding: 0px 15px;
  border: solid 1.56px rgb(218, 206, 206);
  margin-left: -75px;

  /* width: 150%; */
}

.accordion-main-container {
  padding: 15px 3%;
  margin-right: 25px;
  border: solid 1px rgb(221, 216, 216);
  margin-bottom: 15px;
  cursor: pointer;
}
.accordion-title {
  display: flex;
  justify-content: space-between;
}
.accordion-content {
  text-align: left;
  margin-top: 5px;
}
.not-login-style {
  color: red;
}
.payment-btn {
  width: 80%;
}
@media (max-width: 475px) {
  .payment-btn {
    width: 100%;
    margin-right: 25px;
  }
}
@media (max-width: 640px) {
}

@media (max-width: 768px) {
  .payment-btn {
    width: 80%;
    margin-left: 50px;
  }
}

@media (min-width: 1024px) {
  .payment-btn {
    width: 80%;
    margin-left: 10px;
  }
}
@media (min-width: 1280px) {
  .payment-btn {
    width: 80%;
    margin-left: 50px;
  }
}

@media (min-width: 1536px) {
  .payment-btn {
    width: 60%;
    margin-left: 150px;
  }
}
