.amenities-header {
  font-size: 1.55em;
  font-weight: bold;
  text-align: left;
}
.inner-amenities-header {
  text-align: left;
}
.amenities-accodion-holder {
  margin-top: 20px;
  border: solid 1px gray;
  padding: 2%;
  border-radius: 15px;
}

.inner-amenities-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.amenities-detail-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 2%;
}
.amenities-detail-header {
  border: solid 0.55px gray;
  padding: 1.5% 5%;
  background-color: rgb(248, 249, 250);
  border-radius: 15px;
}
.hotel-amenities-detail-body-wrapper {
  display: flex;
  padding: 1.5% 2.5%;
  gap: 30px;
}
.detail-content-wrapper > p {
  font-size: 1.2em;
  margin-top: 10px;
}
