.nav-container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5%;
}
.menu-list-sec-wrapper {
  display: none;
  /* width: 60dvw; */
  justify-content: space-between;
}
.blink-text {
  animation: blinker 1s linear infinite;
}
.image-wrapper {
  width: 100px;
}
.menu-list-wrapper {
  display: flex;
  justify-content: space-between;
  list-style: none;
  /* width: 50%; */
}
.list-wrapper {
  display: flex;
  justify-content: space-between;
  /* width: 40%; */
  list-style: none;
}
.icon-image-nav {
  width: 50px;
  display: block;
  cursor: pointer;
}
.list-wrapper li {
  font-size: 1.2rem;
  color: #0d2137;
  cursor: pointer;
}
.menu-list-wrapper li {
  font-size: 1.5rem;
  color: #0d2137;
  cursor: pointer;
}
.nav-links {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 475px) {
}
@media (max-width: 640px) {
}

@media (max-width: 768px) {
}

@media (min-width: 1024px) {
  .icon-image-nav {
    display: none;
  }
  .menu-list-sec-wrapper {
    display: flex;
    align-items: center;
    width: 60dvw;
  }
  .menu-list-wrapper li {
    font-size: 1.2rem;
  }
  .menu-list-wrapper {
    width: 32dvw;
  }
  .list-wrapper {
    /* width: 22.5dvw; */
    justify-content: space-between;
    align-items: center;
  }
  .post-request-wrapper {
    background-color: rgb(25, 3, 103);
    padding: 12px 12px;
    border-radius: 8px;
    margin-right: 10px;
    width: 150px;
    text-align: center;
  }
  .post-request-wrapper-li {
    color: #fff !important;
  }
  .login-wrapper {
    border: solid 0.5px gray;
    padding: 12px 12px;
    border-radius: 8px;
    /* width: 80px; */
    text-align: center;
  }
  .list-wrapper li {
    font-size: 1.1rem;
  }
}

@media (min-width: 1280px) {
  .menu-list-sec-wrapper {
    display: flex;
    align-items: center;
  }
  .menu-list-wrapper li {
    font-size: 1.2rem;
  }
  .menu-list-wrapper {
    width: 46%;
    align-items: center;
  }
  .list-wrapper {
    /* width: 36.5%; */
    justify-self: space-between;
    align-items: center;
  }
  .post-request-wrapper {
    background-color: rgb(25, 3, 103);
    padding: 12px 12px;
    border-radius: 8px;
    margin-right: 10px;
    /* width: 150px; */
    text-align: center;
  }
  .post-request-wrapper-li {
    color: #fff !important;
  }
  .login-wrapper {
    border: solid 0.5px gray;
    padding: 12px 12px;
    border-radius: 8px;
    /* width: 80px; */
    text-align: center;
  }
}

@media (min-width: 1536px) {
  .menu-list-sec-wrapper {
    display: flex;
    align-items: center;
  }
  .menu-list-wrapper li {
    font-size: 1.2rem;
  }
  .menu-list-wrapper {
    width: 35%;
  }
  .list-wrapper {
    /* width: 28%; */
    justify-self: space-between;
    align-items: center;
  }
  .post-request-wrapper {
    background-color: rgb(25, 3, 103);
    padding: 12px 12px;
    border-radius: 8px;
    width: 150px;
    margin-right: 10px;
    text-align: center;
  }
  .post-request-wrapper-li {
    color: #fff !important;
  }
  .login-wrapper {
    border: solid 0.5px gray;
    padding: 12px 12px;
    border-radius: 8px;
    width: 80px;
    text-align: center;
  }
}
