@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

.hero-container {
  padding: 15px 5%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-image: url("../../assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-container {
  padding-top: 5%;
}
.header-wrapper {
  width: 100%;
}
.header-content-wrapper {
  padding-bottom: 15px;
}
.hero-img {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-top: 10px;
}

.heading-txt-one,
.heading-txt-two {
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: 25px;
  line-height: 1.2em;
}
.heading-para {
  font-size: 1.8em;
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.get-stated-btn {
  color: #fff;
  background-color: #ff6600;
  padding: 15px 15px;
  border-radius: 10px;
  font-size: 1.2em;
  margin-top: 500px;
}
.card-display-container {
  margin-top: -100px;
  width: 100dvw;
  margin-right: auto;
  margin-left: auto;
}
/* .howitworks-text {
  font-size: 2em;
  margin-bottom: 8px;
} */
/* Work on the playstore icons alighment */
/* .playstore-icons-wrapper {
  display: flex;
  align-items: center;
  height: auto;
  margin-bottom: 15px;
} */
/* .google-icon {
  width: 130px;
  height: auto;
  margin-top: 10px;
} */
/* .iphone-icon {
  width: 130px;
  height: 130px;
  margin-top: -15px;
} */
/* .store-logo-wrapper { */
/* height: 30px; */
/* background-color: #fff; */
/* margin-left: -15px;
  cursor: pointer;
} */
/* .apple-logo-wrapper {
  height: 40px;
  background-color: #fff;
  margin-top: -10px;
  cursor: pointer;
} */

@media (min-width: 475px) {
  .heading-txt {
    font-size: 3em;
  }
}

@media (max-width: 640px) {
}
@media (max-width: 768px) {
}

@media (min-width: 1024px) {
  .hero-container {
    flex-direction: row;
  }
  .header-wrapper {
    width: 48%;
    margin-top: 25px;
  }
  .heading-txt-one,
  .heading-txt-two {
    font-size: 2em;
  }
  .hero-img {
    max-width: 400px;
  }
}
@media (min-width: 1280px) {
  .heading-txt-one,
  .heading-txt-two {
    font-size: 3.2em;
  }
  .hero-img {
    max-width: 480px;
  }
  .header-wrapper {
    width: 52%;
    margin-top: 45px;
  }
}
@media (min-width: 1536px) {
  .heading-txt-one,
  .heading-txt-two {
    font-size: 3em;
  }
  .hero-img {
    max-width: 700px;
  }
  .header-wrapper {
    width: 45%;
    margin-top: 65px;
  }
  .card-display-container {
    margin-top: -400px;
    width: 92%;
    margin-right: auto;
    margin-left: auto;
  }
}
/* 
@media (max-width: 475px) {
}

@media (max-width: 640px) {
}
@media (max-width: 768px) {
}

@media (max-width: 1024px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1536px) {
} */
