@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

.hero-container {
  padding: 2px 5%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header-wrapper {
  width: 100%;
}
.hero-img {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-top: 10px;
}
.heading-txt {
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: 25px;
  line-height: 1.2em;
}
.heading-para {
  font-size: 1.8em;
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* margin-bottom: 35px; */
}

.howitworks-text {
  font-size: 2em;
  margin-bottom: 8px;
}
.playstore-icons-wrapper {
  display: flex;
}
.google-icon {
  width: 130px;
  height: 55px;
  /* margin-top: 10px; */
}
.iphone-icon {
  width: 130px;
  height: 130px;
}
.store-logo-wrapper {
  /* height: 30px; */
  /* background-color: #fff; */
  margin-left: -15px;
  cursor: pointer;
}
.apple-logo-wrapper {
  height: 40px;
  background-color: #fff;
  margin-top: -10px;
  cursor: pointer;
}

@media (min-width: 475px) {
  .heading-txt {
    font-size: 3em;
  }
}

@media (max-width: 640px) {
}
@media (max-width: 768px) {
}

@media (min-width: 1024px) {
  .hero-container {
    flex-direction: row;
  }
  .header-wrapper {
    width: 48%;
    margin-top: 25px;
  }
  .heading-txt {
    font-size: 2em;
  }
  .hero-img {
    max-width: 400px;
  }
}
@media (min-width: 1280px) {
  .heading-txt {
    font-size: 3.2em;
  }
  .hero-img {
    max-width: 480px;
  }
  .header-wrapper {
    width: 52%;
    margin-top: 45px;
  }
}
@media (min-width: 1536px) {
  .heading-txt {
    font-size: 4.5em;
  }
  .hero-img {
    max-width: 700px;
  }
  .header-wrapper {
    width: 45%;
    margin-top: 65px;
  }
}
/* 
@media (max-width: 475px) {
}

@media (max-width: 640px) {
}
@media (max-width: 768px) {
}

@media (max-width: 1024px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1536px) {
} */
