@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

.testimonial-main-container {
  padding: 15px 5%;
  display: flex;
  flex-direction: column;
}
.slider-container {
  width: 100dvw;
  margin-top: 20px;
}
.testimonial-header-wrapper {
  display: flex;
  align-items: center;
}
.testimonial-header-wrapper h1 {
  color: #ff6600;
}
.tester {
  background-color: red;
}
.terstimonial-logo {
  width: 120px;
  height: 32px;
  margin-left: 5px;
}
.client-test-card-main-wrapper {
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  text-align: left;
  background-color: yellow; */
}
.header-container {
  /* width: 35%; */
}
.client-card {
  /* background-color: red;
  padding: 3%; */
}
@media (min-width: 475px) {
}
@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .testimonial-main-container {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
