.footer-main-container {
  text-align: center;
  /* position: fixed;
  width: 100%;
  bottom: 0; */
  background-color: #262262;
  padding: 45px 0;
}

.footer-logo {
  width: 180px;
}

.company-wrapper {
  margin-left: auto;
  margin-right: auto;
}
.address-wrapper ul {
}
.policy-btn,
.privacy-btn {
  color: #fff;
}
.inner-footer-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

@media (min-width: 475px) {
}

@media (min-width: 640px) {
}
@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .inner-footer-wrapper {
    width: 26.5%;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .company-wrapper {
    width: 20%;
  }
}
@media (min-width: 1536px) {
}
