.grocery-subscript-container {
  padding: 15px 5%;
  margin-bottom: 100px;
}
.grocery-subscription-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brocery-subscription-header {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 42%;
}
.grocer-subscription-toggle-tab-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}
.grocer-subscription-toggle-tab-wrapper > p {
  font-weight: bold;
}
.grocery-subScription-card-outer-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
