.quick-action-card-main-container {
  background-color: rgb(242, 239, 239);
  width: 20%;
  padding: 2.5%;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.quick-action-card-main-container:hover {
  border: solid 1px gray;
}
