.term-check-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 20px;
}
.term-check-container > p {
  margin-left: 10px;
  font-size: 0.95em;
}
.term-check-container > p > span {
  color: #5d53e8;
  font-weight: 650;
}
input[type="checkbox"] {
  /* -webkit-appearance: none; */
  width: 25px;
  height: 25px;
  /* background: white; */
  border-radius: 5px;
  border: 2px solid #555;
}

@media (min-width: 1024px) {
  .term-check-container {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  .term-check-container > p {
    margin-left: 10px;
    font-size: 1.15em;
  }
}
