.car-main-container {
  width: 92%;
  border: solid 0.25px gray;
  padding: 5.5%;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
  cursor: pointer;
}
.car-main-container:hover {
  border: solid 1.5px gray;
}
.car-card-image > img {
  width: 100%;
}
.view-details-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.view-details-wrapper > h3 {
  color: orange;
}
.card-car-details > h1 {
  margin-top: 10px;
}
.detail-view-wrapper {
  display: none;
}
.car-main-container:hover .detail-view-wrapper {
  display: block;
}
