.product-list-card {
  width: 95%;
  border: 0.35px solid rgb(159, 157, 157);
  border-radius: 15px;
  position: relative;
}
.product-list-card > input[type="checkbox"] {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 30px;
  height: 25px;
}
.product-list-card > img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.list-content-wrapper {
  padding: 5px 15px;
}
.list-price-wrapper {
  display: flex;
  justify-content: space-between;
  /* padding: 10px 0; */
}
.list-price-wrapper > span {
  font-size: 1.1em;
}
.gift-card-header {
  margin-top: 5px;
}
