.evrything-container {
  background-image: url("../../assets/video-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: 55px; */
  margin: 15px;
  border-radius: 50px;
  padding: 0 25px;

  /* padding: 120px;   */
  /* padding: 50px 5%; */
  text-align: center;
  /* background-color: aliceblue; */
  margin-top: 20px;
}
.everything-header-wrapper {
  padding: 20px 3%;
  width: 95%;
}

.everything-header-wrapper h2 {
  font-size: 1em;
  /* line-height: 0.55em; */
}
.video-main-container {
  width: 100%;
  height: auto;
}
.vedio-player-wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.everything-icons-wrapper {
  display: flex;
  justify-content: center;
}
.howitworks-wrapper {
  margin-top: 25px;
}

@media (min-width: 475px) {
}
@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .evrything-container {
    margin: 25px;
  }
  .everything-header-wrapper h2 {
    font-size: 1.25em;
    /* line-height: 0.55em; */
  }
  .everything-header-wrapper {
    padding: 20px 10%;
    width: 95%;
  }
  .vedio-player-wrapper {
    margin-bottom: 50px;
  }
}

@media (min-width: 1024px) {
  .everything-header-wrapper {
    padding: 20px 10%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .everything-header-wrapper h2 {
    font-size: 2em;
    line-height: 1em;
  }
}

@media (min-width: 1280px) {
  .everything-header-wrapper h2 {
    font-size: 2em;
    line-height: 1.8em;
  }
  .vedio-player-wrapper {
    width: 65%;
    height: auto;
  }
}

@media (min-width: 1536px) {
}
