.website-wrapper {
  min-height: 100dvh;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.website-container {
  background-color: #262262;

  /* position: relative;
  display: flex;
  height: 100%;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: hidden; */
}

.section-container {
  /* position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 110rem; */
}

@media (min-width: 475px) {
}
@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
  .container {
    /* margin-top: 120px; */
  }
}
@media (min-width: 1536px) {
}
